.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-silver);
    padding: 0 10px;
}

.avatarBtn {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-left: 50px;
}

.avatarBtn:hover {
    border-color: var(--color-orange);
}

.avatarImg {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.cartProductCount {
    position: absolute;
    left: 10px;
    top: -10px;
    padding: 2px 7px;
    color: white;
    background-color: var(--color-orange);
    border-radius: 40%;
    font-size: 0.75rem;
}

.cartIconWrapper {
    position: relative;
    margin-left: auto;
}

.menuBtn {
    display: none;
    margin-right: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.cartIcon {
    display: block;
    font-size: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .avatarBtn {
        margin-left: 16px;
    }

    .avatarImg {
        width: 25px;
    }

    .menuBtn {
        display: inline;
        cursor: pointer;
    }

    .header {
        padding: 20px;
    }
}