@import-normalize;

@font-face {
    font-family: "Kumbh Sans";
    src: url(./assets/fonts/KumbhSans/KumbhSans-Regular.ttf);
}

@font-face {
    font-family: "Kumbh Sans";
    src: url(./assets/fonts/KumbhSans/KumbhSans-Bold.ttf);
    font-weight: 700;
}

:root {
    --color-orange: #ff7d1b;
    --color-lightorange: #ffac6a;
    --color-silver: #e8e7ec;
    --color-text: #7a7b7f;

    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Kumbh Sans", serif, sans-serif;

}

.open {
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}